<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>EXplore</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{%static  'css/welcome.css'%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>

    <body>
        <div class="welcome-window-container">
            <div class="welcome-window-content">
                <p>Hello! Welcome to EXplore</p>
                <p>A new and fun way to explore Exeter campus</p>
    
                <a href="{%url 'username_sign_in'%}"><button type="button" class="btn btn-default">Sign in</button></a>
                <a href="{%url 'registration'%}"><button type="button" class="btn btn-default">Register</button></a>
            </div>
        </div>
    </body>

</html>


