body{
    background-image: url('../images/exeter-uni-resized.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.welcome-window-container{
    display:flex;
    position: absolute;
    justify-content:center;
    align-items: center;
    background-color:rgb(188, 188, 231);
    border-radius: 30px;
    height:50vh;
    width:50vw;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.welcome-window-content{
    text-align:center;
    padding: 5vw;
}

@media only screen and (min-width: 769px) {
    .welcome-window-container {
        width: 300px;
    }

    .welcome-window-content{
        padding: 0 10px 0 10px;
    }
}


@media only screen and (min-width: 426px) {
    .welcome-window-container {
        width: 300px;
        height: 30%;
    }
}

.welcome-window-container button{
    background-color: white;
    margin: 10px 5px 0 5px;
}

